.footer {
    &__links{


        border-top: 1px solid $gray-200;
        background: black;
        color: $gray-100;
        padding: 2rem 2rem 0 2rem;

    
        .social__links {
            display:flex;
            margin-top: 5rem;
    
            svg {
                width:2.5rem;
                margin: 0.3rem;
                fill:white;
                height: 7rem;
            }
        }
    
        svg:hover {
            fill: $me-beige;
            transition: all ease 0.3s;
        }
      
        .flex__content {
           display: flex;
           justify-content: space-between;
           flex-wrap: wrap;
           padding-bottom: 2rem;
           align-items: flex-start;
      
        }
    }
}
.footer__rights{
    background: $me-notbeige;
    padding: 1rem;
    text-align: center;
    p {
        margin: 0;
    }
}