
main{
    flex:1;
}

.hero {
    margin-top: 3rem;
    max-width: 1920px;
&.header__hero{
    text-align: center;
}
}



.about__me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    &--visuals{
        margin: 0 auto;
        &--home{
            width: 93%;
            margin: 1rem;
        }
        &--about{
            width: 60%;
            margin-top: 1rem;

        }
    }
    &--text{
        background:rgba(255, 182, 120, 0.7);
        padding: 3rem;
        border-radius: 0.3em;

    }
}

@media (min-width: 55rem) {
    .about__me{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
     &--visuals{
         width: 40%;
         max-width: 90%;
         margin: 0;
         
         &--home{
                 width: 40rem;
         }
         &--about{
                 width: 90%;
                 margin: 0rem;

             
         }
     }
     &--text{
         width: 52%;
         max-width: 100%;
         margin-left: 2rem;
         font-size: 1.4rem;

        
      
        
        
     }
    }
}

.about__me--image{
    width: 30rem;
}
