
main{
    flex:1;
}

.hero {
    margin-top: 3rem;
    max-width: 1920px;
&.header__hero{
    text-align: center;
}
}

.about__me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
 &--visuals{
     width: 40%;
     max-width: 90%;
 }
 &--text{
     width: 52%;
     max-width: 100%;
     margin-left: 2rem;
     background:rgba(255, 182, 120, 0.7);
     padding: 3rem;
     border-radius: 0.3em;
  
    
    
 }
}