.markdown__page{
        margin-bottom: 15rem;

        ul{
        li{
                a{
                color: black;
                text-decoration: underline;
                }
                }
                a:hover{
                        color:$me-purple;
                }
        }
}


.markdown__work{

        width: 30rem;
        margin: 2rem auto;
        align-items: center;
        max-width: 100%;
        display: flex;

    
}