<!doctype html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow" />
        {% include "components/seo.njk" %}
        {% include "components/icons.njk" %} 
        <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}" />       
        <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}">
        <script src="https://kit.fontawesome.com/6562178bb9.js" crossorigin="anonymous"></script>
    </head>
    <body class="{{ templateClass }}"> 
        {% include "components/header.njk" %}
        <main class="main container">
            {{ content | safe }}
            <button id ="scrollToTop">
            <img src ="./static/images/icons/arrow-up.png">
            </button>
        </main>
        {% include "components/footer.njk" %}
        <script src="{{ '/static/js/main.js' | url }}"></script>
    </body>
</html>