<!doctype html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">
    <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WX97CGM');</script>
        <!-- End Google Tag Manager -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow" />
        {% include "components/seo.njk" %}
        {% include "components/icons.njk" %} 
        <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}" />       
        <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}">
        <script src="https://kit.fontawesome.com/6562178bb9.js" crossorigin="anonymous"></script>
          <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QYGNKKP2J9"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QYGNKKP2J9');
        </script>
    </head>
    <body class="{{ templateClass }}"> 
        {% include "components/header.njk" %}
        <main class="main container">
            {{ content | safe }}
            <button id ="scrollToTop">
            <img src ="/static/images/icons/arrow-up.png">
            </button>
        </main>
        {% include "components/footer.njk" %}
        <script src="{{ '/static/js/main.js' | url }}"></script>
    </body>
</html>