---
layout: layouts/base.njk
image: static/images/about/whoweare.jpg
eleventyNavigation:
  key: Home
  order: 1
title: Home
---



<section class="hero">
     
                <section class="header__hero">
                  
                        <h1 class="homepage">First of all welcome, i'm <span class ='typer'></span></h1>
                       {# <h1 class="typer"></h1>  #}
                </section>
</section>



    <section class="container container__quote">
        
        <div class= "about__me ">
             <div class = "about__me--visuals">
              <img
            class="about__me--visuals--home"
            src="static/images/moreme.png" alt='hero picture'loading= "lazy"/>
            </div>
            <div class= "about__me--text ">
                <p>I am Mina Jaidane, graduate <span class="bold">Event Management</span> and student <span class ='bold'>Communications Management</span>. You’ve come to the right place to get to know me a little better, but if you really want to get to know me, you can always get in touch. </p>              
                <a href="contact" class= "btn btn-primary">Send me a message!</a>
            </div>
        </div>
       
    </section>




{% if collections.work | highlighted | length %}
    <section class= "container">
        <h2>My work experience</h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><path d="M0 20h42v2H0z"/></svg>
        {% if collections.work | highlighted %}
            <ul class="articles row">
                {% for article in collections.work | highlighted %}
                    {% if article.url != page.url %}
                      <li class="work col-12 col-md-8 col-lg-5 design__card">
            <a href="{{ article.url | url }}">
              <img class="work__image" src="{{ '/static/images/work/' | url }}{{ article.data.img }}" alt="{{article.data.title}}" />
              <h3>{{ article.data.client }}</h3>
              <div class = "work__text">
                 <p class = "work__client">{{article.data.title}}</p>
                <p class = "work__CTA btn btn-primary">Find out more!</p></a>
              </div>

            </a>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </section>
  {% endif %}


  