<header class="header">    
    <div class="container">
        <div class="header__group row justify-content-between">
           
                <a class="col logo" href="{{ '/' | url }}" title="Back to the homepage of the {{ site.subdomain }}">

                <img src="/static/images/favicon/android-chrome-192x192.png" />

                </a>
            {% include "components/navigation.njk" %}
        </div>
    </div>
</header>