  <link rel="apple-touch-icon" sizes="180x180" href="/minajaidane/static/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/minajaidane/static/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/minajaidane/static/images/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/minajaidane/static/images/favicon/apple-touch-icon.png">  
  <link type="text/plain" rel="author" href="/minajaidane/humans.txt" />       
  <link rel="stylesheet" href="/minajaidane/static/css/main.css">