---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 4
---
    
<h1 class="container">And what about me?</h1>
    <section class="container container__quote">
        
        <div class= "about__me ">

            <div class= "about__me--text ">
            <h4>Nice to meet you</h4> 
            <p>I’m Mina, a 22-year old Communications student. Before taking up these studies, I’ve already received my Event Management diploma and dived deeper into coding. </p>
            <p>This led me to discovering my passion for analytics and front-end development. That’s why I challenged myself to develop this website from scratch!</p>
            <p>I like to keep busy besides my studies. I’ve always had student jobs and at the moment, I’m interning at an agency in my hometown Ghent where I’m working on a matchmaking platform.</p>
              <p>If I’m not working on my projects or studies, I’d love to tell you more about my history as a judoka. However, I had to quit because of an injury, but you can find me on the running tracks or in the swimming pool instead. To clear my mind, I like to go on walks, but if I can, I travel to discover the world.</p>
            
                <a href="contact" class= "btn btn-primary">Send me a message!</a>
            </div>

            <div class = "about__me--visuals">
                    <img class="about__me--visuals--about"
                    src="../static/images/about/minashoofd.jpeg" alt='my head'loading= "lazy"/>
            </div>
        </div>
       
    </section>  






