---
layout: layouts/base.njk
eleventyNavigation:
  key: Experience
  order: 3
---


<div class = "container">

  <h1>Work experience</h1>

  {% if collections.work | length %}
    <ul class="articles row">
      {% for article in collections.work %}
        {% if article.url != page.url %}
          <li class="work col-12 col-md-8 col-lg-5 design__card">
            <a href="{{ article.url | url }}">
              <img class="work__image" src="{{ '/static/images/work/' | url }}{{ article.data.img }}" alt="{{article.data.title}}" />
              <h3>{{ article.data.client }}</h3>
              <div class = "work__text">
                <p class = "work__client">{{article.data.title}}</p>
                <p class = "work__CTA btn btn-primary">Find out more!</p></a>
              </div>
            </a>

            </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
