h1 {
    margin: 3rem 0;
}

.articles {
   padding:0;
   justify-content: center;
    .design__card {
        list-style-type: none;
        padding: 1rem;
        text-align: center;
        img {
            width: 100%;
            opacity: 0.6;
            max-width: 100%;
        }
        h3{
            color: $me-purple;
            text-align: center;
            margin: auto;
            background: $me-notbeige;
            width: 100%;
            max-width: 100%;
            word-break: break-all;
            font-size: 17px;
            padding: 0.8rem;
        }
   
        a {
            color: $me-red;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            margin-top: 1rem;
   
            .work__text{
                margin-top: 1rem;

                p{
                    font-style: italic;
                    margin-top: 1rem;
                    padding-top: 1rem;
                
                }
          
                
            }
            
        }
        
    }}


@media (min-width: 40rem) {
    .articles{
        h3{
            font-size: 25px;
        }
    }
}

    .socials__work{
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 16rem;
        svg{
            width: 3rem;
        }
    }
        
    .socials__work a:hover svg{
            fill: $me-beige;
            transition: all ease 0.3s;
    }

 .work__CTA{
     opacity: 0;
     justify-content: center;
 }

.design__card:hover img{
    opacity: 1;
    transition: all ease 0.3s;
}
.design__card:hover .work__CTA{
    color:$white;
    opacity: 1;
    transition: all ease 0.3s;

}